@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Noto+Serif+JP:wght@900&family=Playfair+Display:wght@600&family=Rubik&display=swap');

body{
    background-color: #F3EEEA;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-family: 'Noto Serif JP', serif;
}
