@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Noto+Serif+JP:wght@900&family=Playfair+Display:wght@600&family=Rubik&display=swap');
body{
    width: 100%;
    min-width: 320px;
    background-color: #fef7eb;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-family: 'Noto Serif JP', serif;
}

.main{
    margin-left: 195px;
}

.mainMenu{
    padding: 30px;
    position: absolute;
    display: flex;
    top: 0;
    right: 195px;
    gap: 10px;
}

.linkOutsid{
    display: flex;
    gap: 20px;
}

.gridContain img {
    width: 100px;
    height: 100px;
}


.text{
    background-color: #fef7eb;
    margin-left: 10px;
    border-radius: 20px;
    display: inline-block;
}

.about{
    color: aqua;
    margin-left: 10px;
    display: inline-block;
    transition: color 1s;
}

.about:hover{
    color: red;
}

.AAA{
    margin-top: 20px;
    margin-left: 10%;
}

.BBB{
    margin-right: 10px;
    display: inline;
    position: relative;
    margin-top: 20px;
    margin-left: 198px
}

.profile{
    color: aqua;
    display: inline-block;
    transition: color 1s;
    margin-right: 10px;
}

.profile:hover{
    color: red;
}

.BText{
    display: inline-block;
    margin-right: 10%;
}

.photo img{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
}

.whatsNews{
    text-align: center;
    margin-top: 10px;
    left: 100%;
}
.mainMenu2{
    padding: 30px;
    position: absolute;
    display: flex;
    bottom:100%;
    right: 0;
    gap: 10px;
    transform: translate(-50%, 0);
}

.textBox{
    left: 50%;
    transform: translate(-50%,0);
    width: 50%;
    height: 200px;
    position: relative;
}

.textBox2{
    position: relative;
    margin-left: 30%;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.contact:before,
.contact:after {
    border-top: 1px solid black;
    content: "";
    width: 20px; 
}
.contact:before {
    margin-right: 10px; 
}
.contact:after {
    margin-left: 10px; 
}

.contactMe{
    display: inline-block;
    background-color: #d9d5ce;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.ageage{
    width: 30px;
}
