@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Noto+Serif+JP:wght@900&family=Playfair+Display:wght@600&family=Rubik&display=swap');

body{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-family: 'Noto Serif JP', serif;
    background-color: #FDF7E4;
}

.header{
    text-align: center;
    margin-top: 20px;
}

.main{
    display: flex;
}

.menu{
    margin-left: 40%;
    transform: translateX(-50%);
    border-top: #BBAB8C;
    border-bottom: #BBAB8C;
}

.content{
    display: inline-block;
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.bunshou{
    margin-left: 30px;
    margin-top: 30px;
}

.text{
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.img{
    margin-top: 100px;
    width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.text2{
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* B6FFFA
98E4FF
80B3FF
687EFF */