
.text{
    cursor: pointer;
    width: 200px;
    border: 1px solid black;
    text-align: center;
}

.flex{
    display: flex;
}

.hover{
    background-color: pink;
    display: inline-block;
    padding: 20px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 20px;
    transition: all  0.3s ease;
}

.hover:hover{
    background-color: aqua;
}

.sup{
    width: 100px;
    height: 100px;
    background-color: #54f082;
    text-align: center;
    border-radius: 50%;
    margin-top: 20px;
}

